/*-----------------------IMPORTS--------------------------*/



/*---------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

-----------------RESET CSS--------------*/



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*HTML5 display-role reset for older browsers article*/
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------------------------------------------------------------------*/


html,
body {
    margin: 0;
    padding: 0;
    min-width: 71.25rem;
}

body {
    background-image: url("../css/img/fondo.jpg");
    width: 62.5rem;
    height: auto;

}

img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

#logoPrincipal {
    width: 6.25rem;
    height: auto;
}

nav#Elen-navbar {
    box-sizing: border-box;
    margin: 0;
    background-color: white;
    height: 6.25rem;
    min-width: 100vw;
    width: 150vw;
    position: fixed;
    z-index: 200;


}


.content {

    box-sizing: border-box;
    margin: 0;
    padding: 9.375rem;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    padding-top: 15.625rem;


}




footer#Footer {
    box-sizing: border-box;
    margin: 0;
    background-color: #333;
    height: 6.25rem;
    min-width: 100vw;
    width: 150vw;
    color: white;
    padding: 3.125rem;



}

.second-content {

    box-sizing: border-box;
    margin: 0;
    padding: 9.375rem;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    height: 1000vh;
    padding-top: 15.625rem;

}



div.portafoliofolder {
    position: absolute;
    width: 43.75rem;
    height: 30.625rem;
    margin: 0 auto;
    margin-top: 9.375rem;
    border: 0.1875rem solid black;
    border-radius: 0.625rem;
    box-shadow: 1.25rem 1.25rem 1.25rem #333;
    overflow: hidden;
    left: 2.5rem;
    z-index: 1;
    transform: translate(15.625rem, -13.75rem);




}

div.portafoliofolder:before {
    content: '';
    position: absolute;
    border: 0.0625rem solid rgba(255, 255, 255, 0.28);
    border: 0.0625rem solid black;
    width: 42.5rem;
    height: 26.25rem;
    box-shadow: 0rem 0rem 0rem 125rem white;
    left: 0.4375rem;
    top: 2.8125rem;
    z-index: 1;

}

div.glassmorphism {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.16);
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.3937rem);
    -webkit-backdrop-filter: blur(0.3937rem);
    border: 0.0625rem solid rgba(255, 255, 255, 0.28);
    position: absolute;
    transform: translate(9.375rem, -1.5625rem);
    width: 42.5rem;
    height: 26.25rem;

    z-index: -1;
}

.windowsTitleBlock {
    position: absolute;
    transform: translate(8.75rem, -6.5625rem);
    width: 18.75rem;
    height: 3.75rem;
    background: white;
    border-top: 0.1875rem black solid;
    border-left: 0.1875rem black solid;
    border-right: 0.1875rem black solid;
    border-radius: 0.625rem 1.25rem 0 0;
    z-index: 2;
}

#portafolio-paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    color: black;
    width: 12.5rem;
    height: 3.125rem;


}

.bi-star {
    display: flex;
    font-size: 1.875rem;
    font-weight: bolder;
    z-index: 4;
    transform: translate(-30.3125rem, -1.875rem);
}

.whiteBlock {
    position: sticky;
    width: 21.8125rem;
    height: 1.875rem;
    background-color: white;
    bottom: 0.625rem;
    transform: translate(10rem, -4.1875rem);
    z-index: 3;
}





.portafolioHeaderElements {
    position: absolute;
    width: 15.625rem;
    height: 15.625rem;
    transform: translate(40.9375rem, -3.75rem);
    z-index: 4;
    float: left;

}

button.minimize {
    color: black;
    background: white;

}

button.minimize:hover {
    background: rgb(0, 140, 255);
}

button.maximize {
    color: black;
    background: white;
}

button.close {
    color: black;
    background: white;
}

button.close:hover {
    background: rgb(255, 0, 34);
}

#portafolioInput {
    position: absolute;
    border: 0.125rem solid black;
    width: 26.25rem;
    transform: translate(-31.25rem, 0);
    z-index: 10;
}


div.principalSite {
    position: absolute;
    transform: translate(10.625rem, 0.9375rem);
    background-color: white;
    width: 11.25rem;
    height: 21.875rem;
    border: 0.125rem solid black;
    z-index: 2;
}

.bi-suit-heart-fill {
    font-size: 5rem;
    color: black;
}

div.webPreference {
    position: absolute;
    transform: translate(12.5rem, 3.125rem);
    background-color: white;
    width: 11.25rem;
    height: 7.5rem;
    border-top: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-right: 0.125rem solid black;
    z-index: 2;

}

div.siteRight {
    transform: translate(36.25rem, 0.9375rem);
}

div.siteLeft {
    transform: translate(23.125rem, 0.9375rem);
}

div.siteBottomRight {
    transform: translate(36.25rem, 11.5625rem);
}

div.siteBottomLeft {
    transform: translate(23.125rem, 11.5625rem);
}

footer.blueFooter {
    position: absolute;
    transform: translate(-0.125rem, 7.1875rem);
    background-color: rgb(255, 0, 98);
    width: 11.25rem;
    height: 1.25rem;
    border-bottom: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-right: 0.125rem solid black;
}

header.windowsOptions {
    position: absolute;
    background-color: white;
    border-top: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    border-right: 0.125rem solid black;
}


.languages {
    position: absolute;
    background-color: rgb(255, 0, 98);
    width: 25.625rem;
    height: 12.5rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(5.9375rem, 15.625rem);
    color: white;
    z-index: 3;
}

header.languagesHeader {
    width: 25.5rem;
    height: 2.5rem;
}

#languages-paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 3;
    color: black;
    width: 3.125rem;
    height: 3.125rem;

}

.languages-buttons {
    transform: translate(9.3125rem, 0.1875rem);

}

#languagesForm {

    transform: translate(0rem, 3.75rem);
}

#languagesForm>select {
    width: 15.625rem;
}

.person {
    position: absolute;
    background-color: white;
    width: 35rem;
    height: 25rem;
    transform: translate(25.3125rem, 6.25rem);
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    z-index: 2;

}

#person-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 3;
    color: black;
    width: 18.75rem;
    height: 3.125rem;

}

header.personHeader {
    width: 34.875rem;
    height: 2.5rem;

}

.person-buttons {
    transform: translate(13.6875rem, 0.1875rem);

}

.Person-description {
    padding-top: 3.125rem;

}

.house {
    display: flex;
    padding-left: 1.875rem;

}

.website {
    display: flex;
    padding-left: 1.875rem;
    margin-top: -0.625rem;
}

.e-mail {
    display: flex;
    padding-left: 1.875rem;
    margin-top: -0.625rem;
}

.profile {
    position: absolute;
    background-color: white;
    width: 18.875rem;
    height: 18.875rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(43.75rem, -5.625rem);
    z-index: 5;

}

#person-text {
    text-align: justify;
    padding-top: 0.9375rem;
    padding-left: 7.1875rem;
    padding-right: 1.5625rem;
}

header.profileHeader {
    width: 18.75rem;
    height: 2.5rem;


}

#profile-paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    color: black;
    width: 3.125rem;
    height: 3.125rem;


}

.profile-buttons {
    transform: translate(5.875rem, 0.1875rem);


}

#interest {
    width: 50.625rem;
    height: 50rem;
    left: 1.875rem;
}

div.interestfolder {
    position: absolute;
    width: 43.75rem;
    height: 49.375rem;
    margin: 0 auto;
    margin-top: 9.375rem;
    border: 0.1875rem solid black;
    border-radius: 0.625rem;
    box-shadow: 1.25rem 1.25rem 1.25rem #333;
    overflow: hidden;
    left: 2.5rem;
    z-index: 1;
    transform: translate(21.875rem, -13.75rem);

}


div.interestfolder:before {
    content: '';
    position: absolute;
    border: 0.0625rem solid rgba(255, 255, 255, 0.28);
    border: 0.0625rem solid black;
    width: 42.5rem;
    height: 45rem;
    box-shadow: 0rem 0rem 0rem 125rem white;
    left: 0.4375rem;
    top: 2.8125rem;
    z-index: 1;

}

.folders-Icons>figure {
    z-index: 200;
    float: left;
    padding: 1.5625rem;
}

figure svg {
    font-size: 3.125rem;
}

.interest-aside {
    background-color: white;
    width: 9.375rem;
    height: 45.3125rem;
    border-right: 0.0625rem solid black;
    float: left;

}

.interest-star {
    transform: translate(-22.5rem, -1.875rem);
}

.interestWhiteBlock {
    position: sticky;
    width: 21.8125rem;
    height: 1.875rem;
    background-color: white;
    bottom: 0.625rem;
    transform: translate(17.5rem, -4.1875rem);
    z-index: 3;
}

#interest-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    color: black;
    width: 12.5rem;
    height: 3.125rem;
}

div.interestGlass {
    width: 42.8125rem;
    height: 45.3125rem;
    transform: translate(15.625rem, -1.5625rem);
    z-index: 1;
}

.interestHeaderElements {
    position: absolute;
    width: 31.25rem;
    height: 15.625rem;
    transform: translate(39.3125rem, -3.75rem);
    z-index: 4;
    float: left;
}

#interestInput {
    position: absolute;
    border: 0.125rem solid black;
    width: 26.25rem;
    transform: translate(-31.25rem, 0);
    z-index: 10;
}

.interestTitleBlock {
    transform: translate(15rem, -6.5625rem);
    z-index: 3;
}

.backTitleBlock {
    background-color: #333;
    transform: translate(18.75rem, -6.5625rem);
    z-index: 1;
}

.secondBackTitleBlock {
    background-color: #333;
    transform: translate(21.875rem, -6.5625rem);
    z-index: -1;
}

.education {
    position: absolute;
    background-color: white;
    width: 31.875rem;
    height: 19.75rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(5.9375rem, 37.5rem);


    z-index: 6;
}

#education-image {
    height: auto;
    padding-top: 3.125rem;
    object-fit: contain;
    width: 100%;

}

.education-HeaderElements {
    width: 31.75rem;
    height: 2.5rem;
}

.education-buttons {
    transform: translate(12.3125rem, 0.1875rem);

}

#education-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 8.125rem;
    height: 3.125rem;
}

.experience {
    position: absolute;
    background-color: white;
    width: 32.5rem;
    height: 33.75rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(31.5625rem, 15.625rem);
    z-index: 4;

}

.experience-HeaderElements {
    width: 32.375rem;
    height: 2.5rem;
}

.experience-buttons {
    transform: translate(12.625rem, 0.1875rem);

}

#experience-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

#experience-h4 {
    padding: 3.8125rem 1.5625rem 0 1.5625rem;
    text-shadow: -0.125rem 0 0 rgb(255, 0, 98),
        0 -0.125rem 0 rgb(255, 0, 98),
        0.125rem 0 0 rgb(0, 89, 255),
        0 0.125rem 0 rgb(0, 89, 255);

    text-align: left;
    color: white;
}

#experience-text {
    text-align: justify;
    padding: 1.8125rem 1.5625rem 1.5625rem 1.5625rem;

}

#experience-footer {
    background-color: rgb(255, 0, 98);
    width: 32.375rem;
    height: 8.4375rem;
    transform: translate(0, 0);
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
}

#experience-footer-h4 {
    padding: 3.8125rem 1.5625rem 0.3125rem 1.5625rem;
    text-shadow: -0.125rem 0 0 white,
        0 -0.125rem 0 white,
        0.125rem 0 0 whitesmoke,
        0 0.125rem 0 whitesmoke;


    color: rgb(255, 0, 98);
}

.skillSet {
    position: absolute;
    background-color: white;
    width: 31.25rem;
    height: 18.75rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(1.5625rem, 3.75rem);
    z-index: 2;

}

#skillSet-text {
    text-align: justify;
    padding: 2.8125rem 1.5625rem 1.5625rem 1.5625rem;


}

.skillSet-HeaderElements {
    width: 31.125rem;
    height: 2.5rem;
}

.skillSet-buttons {
    transform: translate(12rem, 0.1875rem);

}

#skillSet-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

.hiredRebecca {
    position: absolute;
    background-color: white;
    width: 15.625rem;
    height: 7.8125rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(51.875rem, 48.125rem);
    z-index: 6;
}

.hiredRebecca-HeaderElements {

    width: 15.5rem;
    height: 2.5rem;
    z-index: 5;
}

#hiredRebecca-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

.YesOrNo-buttons {
    width: 15.625rem;
    padding-top: 4.0625rem;

}

.Yes-button {
    width: 5.3125rem;
    transform: translate(-0.9375rem, 0);
}

.Yes-button:before {

    content: "Yes";
}

.Yes-button:hover {
    background-color: rgb(0, 89, 255);
}

.Yes-button:hover:before {

    content: "No";
}

.No-button {
    width: 5.3125rem;
    transform: translate(0.9375rem, 0);
}

.No-button:hover {
    background-color: rgb(255, 0, 43);
}

.hiredRebecca-buttons {
    transform: translate(4.1875rem, 0.1875rem);
}

.sobriety {
    position: absolute;
    background-color: rgb(255, 0, 98);
    width: 15.625rem;
    height: 18.75rem;
    transform: translate(53.75rem, 7.5rem);
    z-index: 1;
}

.Sobriety-Paragraphs {
    color: white;
    letter-spacing: 0.125rem;
    margin-top: -0.125rem;
    font-family: 'Times New Roman', Times, serif;
}


/*---------------------------------------------------------*/
article#Digital-representation {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding-top: 21.875rem;
    min-width: 100vw;
    min-height: 100vh;
    height: 75rem;
    text-align: center;


}

.digital-illustration {
    position: absolute;

    background-color: white;
    width: 25.125rem;
    height: 37.625rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(6.25rem, -5.625rem);
    z-index: 5;
}

.digital-Illustration-Header {
    width: 25rem;
    height: 2.5rem;
}

#digital-illustrationParagraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 9.375rem;
    height: 3.125rem;
}

.digital-illustration-buttons {
    transform: translate(8.875rem, 0.1875rem);
}

#digital-illustration-image {
    height: auto;
    padding-top: 3.125rem;
    object-fit: contain;
    width: 100%;
}

.Digital-fish {
    position: absolute;
    background-color: white;
    width: 12.625rem;
    height: 12.625rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(4.375rem, 24.375rem);
    z-index: 5;
}

.Digital-fish-Header {
    width: 12.5rem;
    height: 2.5rem;
}

#Digital-fish-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 4.6875rem;
    height: 3.125rem;
}

.Digital-fish-buttons {
    transform: translate(2.75rem, 0.1875rem);
}


.Digital-Computer {
    position: absolute;
    background-color: white;
    width: 12.625rem;
    height: 12.625rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(12.5rem, 34.375rem);
    z-index: 5;
}

.Digital-Computer-Header {
    width: 12.5rem;
    height: 2.5rem;
}

#Digital-Computer-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 4.6875rem;
    height: 3.125rem;
}

.Digital-Computer-buttons {
    transform: translate(2.75rem, 0.1875rem);
}

#Digital-Computer-Image {
    padding-top: 2.8125rem;

}

.Digital-World {
    position: absolute;
    background-color: white;
    width: 31.375rem;
    height: 43.875rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(38.75rem, 12.5rem);
    z-index: 5;
}

.Digital-World-Header {
    width: 31.25rem;
    height: 2.5rem;
}

#Digital-World-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 12.5rem;
    height: 3.125rem;
}

.Digital-World-buttons {
    transform: translate(12.125rem, 0.1875rem);
}

#Digital-World-Image {
    height: auto;
    padding-top: 0.625rem;
    object-fit: fill;
    width: 28.125rem;
}

#fishy {
    position: absolute;
    background-color: white;
    width: 31.375rem;
    height: 15.625rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(28.125rem, -3.75rem);
    z-index: 7;

}

#fishy-text {
    text-align: justify;
    padding: 0.3125rem 1.5625rem 1.5625rem 1.5625rem;


}

#fishy-h4 {
    text-align: justify;
    padding: 2.8125rem 1.5625rem 0.3125rem 1.5625rem;


}

.fishy-Header {
    width: 31.25rem;
    height: 2.5rem;
}

#fishy-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

.fishy-buttons {
    transform: translate(12.125rem, 0.1875rem);
}

article#Library {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding-top: 9.375rem;
    min-width: 100vw;
    min-height: 100vh;
    height: 75rem;
    text-align: center;


}

.Compaign {
    position: absolute;
    background-color: white;
    width: 28.25rem;
    height: 25rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(34.375rem, 0rem);
    z-index: 7;
}

#Compaign-text {
    text-align: justify;
    padding: 0.3125rem 1.5625rem 1.5625rem 1.5625rem;


}

#Compaign-h4 {
    text-align: justify;
    padding: 2.8125rem 1.5625rem 0.3125rem 1.5625rem;


}

.Compaign-Header {
    width: 28.125rem;
    height: 2.5rem;
}

#Compaign-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

.Compaign-buttons {
    transform: translate(10.5625rem, 0.1875rem);
}

.Book {
    position: absolute;
    background-color: white;
    width: 31.375rem;
    height: 44.5rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(6.25rem, -5.625rem);
    z-index: 5;
}

.Book-Header {
    width: 31.25rem;
    height: 2.5rem;
}

#Book-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 9.375rem;
    height: 3.125rem;
}

.Book-buttons {
    transform: translate(12.125rem, 0.1875rem);
}

#Book-Image {
    height: auto;
    width: 100%;
    object-fit: contain;
    background-color: #333;

}

.Poster {
    position: absolute;
    background-color: white;
    width: 15.75rem;
    height: 20.8125rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(4.375rem, 37.5rem);
    z-index: 5;
}

.Poster-Header {
    width: 15.625rem;
    height: 2.5rem;
}

#Poster-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

.Poster-buttons {
    transform: translate(4.3125rem, 0.1875rem);
}

#Poster-Image {
    width: 100%;
    height: auto;
}


.Paper {
    position: absolute;
    background-color: white;
    width: 12.625rem;
    height: 18.875rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(31.25rem, 40.625rem);
    z-index: 9;

}

.Paper-Header {
    width: 12.5rem;
    height: 2.5rem;
}

#Paper-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

.Paper-buttons {
    transform: translate(2.75rem, 0.1875rem);
}

#Paper-Image {
    width: 98%;
    background-color: #333;
    height: auto;
}

.Notebook {
    position: absolute;
    background-color: white;
    width: 18.875rem;
    height: 15.625rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(16.875rem, 28.125rem);
    z-index: 5;
}

.Notebook-Header {
    width: 18.75rem;
    height: 2.5rem;
}

#Notebook-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

.Notebook-buttons {
    transform: translate(5.875rem, 0.1875rem);
}

#Notebook-Image {
    width: 100%;
    height: auto;
    padding-top: 2.5rem;
}

article#Elevator {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding-top: 9.375rem;
    min-width: 100vw;
    min-height: 100vh;
    height: 98.125rem;
    text-align: center;


}

.middleElevator {
    position: absolute;
    background-color: white;
    width: 37.625rem;
    height: 50.125rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(6.25rem, -5.625rem);
    z-index: 5;
}

.middleElevator-Header {
    width: 37.5rem;
    height: 2.5rem;
}

#middleElevator-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 15.625rem;
    height: 3.125rem;
}

.middleElevator-buttons {
    transform: translate(15.25rem, 0.1875rem);
}

#middleElevator-Image {
    width: 100%;
    height: auto;
}

.downElevator {
    position: absolute;
    background-color: white;
    width: 34.5rem;
    height: 23.0625rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(4.375rem, 37.5rem);
    z-index: 6;
}

.downElevator-Header {
    width: 34.375rem;
    height: 2.5rem;
}

#downElevator-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 9.375rem;
    height: 3.125rem;
}

.downElevator-buttons {
    transform: translate(13.6875rem, 0.1875rem);
}

#downElevator-Image {
    width: 100%;
    height: auto;

}

.upElevator {
    position: absolute;
    background-color: white;
    width: 31.375rem;
    height: 18.875rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(31.25rem, 31.25rem);
    z-index: 5;

}

.upElevator-Header {
    width: 31.25rem;
    height: 2.5rem;
}

#upElevator-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

.upElevator-buttons {
    transform: translate(12.125rem, 0.1875rem);
}

#upElevator-Image {
    padding-top: 1.25rem;
}

.Pocky {
    position: absolute;
    background-color: white;
    width: 28.25rem;
    height: 20rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(34.375rem, 10.625rem);
    z-index: 7;
}

#Pocky-text {
    text-align: justify;
    padding: 0rem 1.5625rem 1.5625rem 1.5625rem;


}

#Pocky-h4 {
    text-align: justify;
    padding: 2.8125rem 1.5625rem 0.1875rem 1.5625rem;


}

.Pocky-Header {
    width: 28.125rem;
    height: 2.5rem;
}

#Pocky-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 3.125rem;
    height: 3.125rem;
}

.Pocky-buttons {
    transform: translate(10.5625rem, 0.1875rem);
}

.Mansion {
    position: absolute;
    background-color: white;
    width: 40.75rem;
    height: 22.8125rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(34.375rem, 66.875rem);
    z-index: 7;
}

.Mansion-Header {
    width: 40.625rem;
    height: 2.5rem;
}

#Mansion-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 15.625rem;
    height: 3.125rem;
}

.Mansion-buttons {
    transform: translate(16.8125rem, 0.1875rem);
}

#Mansion-Image {
    width: 100%;
    height: auto;
}

.elevator-Reference {
    position: absolute;
    background-color: white;
    width: 28.25rem;
    height: 20rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(9.375rem, 73.125rem);
    z-index: 8;
}

#elevator-Reference-text {
    text-align: justify;
    padding: 0rem 1.5625rem 1.5625rem 1.5625rem;


}

#elevator-Reference-h4 {
    text-align: justify;
    padding: 2.8125rem 1.5625rem 0.1875rem 1.5625rem;


}

.elevator-Reference-Header {
    width: 28.125rem;
    height: 2.5rem;
}

#elevator-Reference-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 12.5rem;
    height: 3.125rem;
}

.elevator-Reference-buttons {
    transform: translate(10.5625rem, 0.1875rem);
}

-------------------------- article#Ideas {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding-top: 9.375rem;
    min-width: 100vw;
    min-height: 100vh;
    height: 75rem;
    text-align: center;
    background-color: black;

}

.Typography-image {
    position: absolute;
    background-color: white;
    width: 37.625rem;
    height: 37.5rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(31.25rem, 6.25rem);
    z-index: 5;

}

.Typography-image-Header {
    width: 37.5rem;
    height: 2.5rem;
}

#Typography-image-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 12.5rem;
    height: 3.125rem;
}

.Typography-image-buttons {
    transform: translate(15.25rem, 0.1875rem);
}

#Typography-image-Image {
    width: 100%;
    height: auto;
}

.cun {
    position: absolute;
    background-color: white;
    width: 15.75rem;
    height: 30rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(6.25rem, 10.625rem);
    z-index: 7;
}

#cun-text {
    text-align: justify;
    padding: 0rem 1.5625rem 1.5625rem 1.5625rem;


}

#cun-h4 {
    text-align: justify;
    padding: 2.8125rem 1.5625rem 0.1875rem 1.5625rem;


}

.cun-Header {
    width: 15.625rem;
    height: 2.5rem;
}

#cun-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 6.25rem;
    height: 3.125rem;
}

.cun-buttons {
    transform: translate(4.3125rem, 0.1875rem);
}

.collaterals {
    position: absolute;
    background-color: white;
    width: 31.375rem;
    height: 31.25rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(6.25rem, 56.25rem);
    z-index: 5;

}

.collaterals-Header {
    width: 31.25rem;
    height: 2.5rem;
}

#collaterals-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 9.375rem;
    height: 3.125rem;
}

.collaterals-buttons {
    transform: translate(12.125rem, 0.1875rem);
}

#collaterals-Image {
    width: 100%;
    height: auto;
}





.cun-col {
    position: absolute;
    background-color: white;
    width: 22rem;
    height: 15.625rem;
    border-right: 0.125rem solid black;
    border-left: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    transform: translate(34.375rem, 60.625rem);
    z-index: 7;
}

.cun-col-Header {
    width: 21.875rem;
    height: 2.5rem;
}

#cun-col-Paragraph {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.125rem;
    display: flex;
    transform: translate(1.25rem, -1.5625rem);
    z-index: 100;
    color: black;
    width: 9.375rem;
    height: 3.125rem;
}

.cun-col-buttons {
    transform: translate(7.4375rem, 0.1875rem);
}



#cun-col-text {
    text-align: justify;
    padding: 0rem 1.5625rem 1.5625rem 1.5625rem;


}

#cun-col-h4 {
    text-align: justify;
    padding: 2.8125rem 1.5625rem 0.1875rem 1.5625rem;


}











/*---------------------------------------------------------*/